<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container d-block" >
        <h2 class="d-block p-2 bg-primary text-white m-0 text-center" >Digite o Id do Cliente:</h2>
        <form action="/busca" method="POST" class="d-block p-2 bg-dark text-white m-0 text-center" >
            <input type="text" name="id">
            <input type="submit" class="btn btn-primary" value="Buscar">
        </form>
    </div>
</body>
</html>